<!DOCTYPE HTML>
<html>
<head>
	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% bootstrap_javascript jquery="slim" %}
	{% block title %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	{% load static from staticfiles %}
</head>
<body>
	<ul class="nav">
		{% url 'home_url' as home_url %}
		{% if request.path != home_url %}
	  		<li class="nav-item">
				<a class="nav-link" href="{% url 'home_url' %}">Все фильмы</a>
	  		</li>
		{% endif %}
	</ul>
	<div class="container">
	  <br>
		{% block content %}{% endblock %}
	  <br>
	</div>
	<div class="container-fluid">
	  <footer class="page-footer font-small blue text-center jumbotron">
		 footer
	  </footer>
	</div>
</body>
</html>
