<!DOCTYPE HTML>
<html>
<head>
	{% load bootstrap4 %}
	{% bootstrap_css %}
	{% block title %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	{% load static from staticfiles %}
  <link rel="stylesheet" href="{% static 'fontawesome-5/css/all.css' %}">
</head>
<body>
<div>
  <br>
	{% block content %}{% endblock %}
  <br>
</div>
<div class="container-fluid">
  <footer class="page-footer font-small blue text-center jumbotron">
	 footer
  </footer>
</div>
</body>
</html>
